body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 45px;
    background-color: hsla(0, 58%, 46%, 0.295);
    color: #333333d8;
  }
  
  h1 {
    color: #007accc7;
  }
  